img,ul,li{margin:0px;
padding:0px
}
body{
	
	width:90%;
	margin:20px auto;
	background:#FFF8B3;
	font-family:times-new-romance;
}
.title{
	position:relative;
	top:60px;
	left:60px;
	height:20vth;
	text-shadow:3px 3px 3px #A9A389;
	width:50%;
	

}
.title span{
	color:#FAC205 ;
	text-transform:uppercase;
	display:block;
}
.text1{
	font-size:60px;
	font-weight:700;
	letter-spacing:4px;
	margin-bottom:20px;
}
.Box{
	display:flex;
}
.image-container{
	position:absolute;
	outline:2px solid black;
	top:30px;
	left:800px;
	width:500px;
	height:250px;
	overflow-x:hidden;
}
.image-container img{
	display:block;
	
}
.Box .content{
	position:absolute;
	left:675px;
	top:700px;
	transform:translate(-50%,-50%);
	width:1300px;
	padding:20px;
    box-sizing: border-box;
	border-radius:4px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	background-image:linear-gradient(#FAFDC5,#E9F718);
	
}
.image-container_content{
	list-style:none;
	display:flex;
	animation-name:slide;
	animation-duration:20s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	transform:translateX(0px);
	
}
.image-container_content img{
	
width:500px;
height:250px;


}
.image-container_content:horver{
	animation-play-state:paused;
}

@keyframes slide{
	10%{
		transform:translateX(0);	
	}
	15%, 30%{
		transform:translateX(-500px);
	}
	35%, 50%{
		transform:translateX(-1000px);
	}
	55%, 70%{
		transform:translateX(-1500px);
	}
	75%, 90%{
		transform:translateX(-2000px);
	}
}